{% extends "index.html" %}

{% block title %} Sign In {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

   
    
    <div class="container-fluid">
        
        <br>
        <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Editor
                        </div>
                        <form method="post" action="/prueba" id="form_code" name="form_code" class="mt-0">
                            <div class="d-none">
                                <input type="hidden text" name="codevalue" id="codevalue" />
                            </div>
                            <input type="file" class="d-none" id="file-input" />
                            <div class="editor"  >
                                <div class="code">
                                    <div class="js-code">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row"></div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Salida
                        </div>
                        <div class="editor"  >
                            <div class="code">
                                <div class="code_ouput">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12">
                
                <div class="card d-md-none" style="width:100%; overflow: auto; white-space: nowrap;"  id="contenido">
    
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
